@import 'tailwindcss';

@theme {
  --font-sans: 'Product Sans', 'sans-serif';

  --color-header: #1e1f20;
  --color-background: #131314;
  --color-primary: #e3e3e3;
  --color-secondary: #c4c7c5;
  --color-input: #282a2c;
  --color-button: #004a77;
  --color-button-text: #c2e7ff;
  --color-divider: #444746;
}
