---
import '../styles/global.css';

import { getSession } from 'auth-astro/server';

// Get session early in the component
const session = await getSession(Astro.request);

// If not in login page and no session, redirect to login
const isLoginPage = Astro.url.pathname === '/login';
if (!isLoginPage && !session) {
  return Astro.redirect('/login');
}

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Google Photos Integration</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
  </head>
  <body class="min-h-screen bg-header flex flex-col items-center justify-center gap-5 p-8 max-w-7xl mx-auto">
      <slot />
  </body>
</html>

<style is:global>
  @font-face {
      font-family: 'Product Sans';
      src: url('/fonts/ProductSans-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
    font-family: 'Product Sans';
    src: url('/fonts/ProductSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
      font-family: 'Product Sans';
      src: url('/fonts/ProductSans-Bold.woff2') format('woff2');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Product Sans';
      src: url('/fonts/ProductSans-Medium.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Product Sans';
      src: url('/fonts/ProductSans-Light.woff2') format('woff2');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Product Sans';
      src: url('/fonts/ProductSans-Thin.woff2') format('woff2');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
  }

  :root {
    /* Checkbox */
    /* --md-sys-color-primary: #10547E;
    --md-sys-color-on-primary: #C4C7C5; */
    --md-sys-color-primary: #004A77;
    --md-sys-color-on-primary: #C2E7FF;

    /* List */
    --md-list-container-color: #1E1F20;
    --md-list-item-label-text-color: #C4C7C5;

    /* Button */
    --md-filled-tonal-button-container-color: #10547E;
    --md-filled-tonal-button-label-text-color: #C4C7C5;

    /* Input */
    --md-sys-color-primary: #10547E;
    --md-outlined-text-field-label-text-color: #1E1F20;
    --md-outlined-text-field-input-text-color: #C4C7C5;

    /* --md-icon-button-icon-size: 32px;
    --md-sys-color-on-surface-variant: #dc362e; */

    --md-filled-icon-button-selected-container-color: #004A77;
  }
</style>